.delete-todo-btn{
    background-image: url(../../images/delete-todo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    height: 30px;
    opacity: 0.54;
    width: 30px;
    align-items: center;
    border: none;
    display: inline-flex; 
    justify-content: center; 
    outline: none;
    grid-area: delete;
    position:absolute;
    display: flex;
    right: 2em;
    cursor: pointer;
    margin-top: 7px;
 }

.round-hover:hover {
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
 }
 
.next{
    width: 80px;
    height: 40px;
    background-color: #1a73e8;
    color: #FFFF;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: .0107142857em;
    font-size: .875rem;
    text-transform: none;
    border-radius: 6px;
    line-height: 40px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    border: none;
}