
.todo-filter{
    text-align: center;
    border-bottom: 1px solid #f1f3f4; 
    height: 5em;
    line-height: 5em;
}

.todo-filter select{
    cursor: pointer;
    height:3em ;
    margin-left: 5px;
    background: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 8px;
    font: 1rem Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    color: #5f6368;
    text-align: center;
}

.todo-filter select:focus{
    outline: none;
}

.todo-filter input{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1rem;
}

.todo-filter input:focus{
    outline: none;
}

.search-container{
    background: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 8px;
    margin: auto;
    margin-left: 1em;
    max-width: 720px;
    height: 3em;
    transition: background 100ms ease-in,width 100ms ease-out;
}

